.main-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.table-header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
}

h1 {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 1em;
}

.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    text-decoration: underline;
}

.icon-button {
    border: none;
    background-color: transparent;
}

.icon {
}

.table-wrapper{
    width: 100%;
}